.body {
    text-align: center;
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
    margin-top: 4%;
  }
  
  .a-box {
    display: inline-block;
    width: 440px;
    text-align: center;
    margin: 5%;
  }
  .body  h1{
    margin-top: 12%;
  }

  
  .img-container {
      height: 270px;
      width: 300px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 300px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 350px;
      width: 300px;
      z-index: 1;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 27px;
    font-size: 18px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 25px;
  }
  .text-container p {
    margin: 20px 0px 10px 0px;
    /* color: #04bcff; */
    font-size: 1.2rem;
    text-wrap: pretty;
  }
  @media screen and (max-width: 520px) {


    .img-container {
      height: 226px;
      width: 226px;
      overflow: hidden;
      border-radius: 0px 70px 20px 20px;
      display: inline-block;
      }
      .a-box {
        display: inline-block;
        width: 315px;
        text-align: center;
        margin: 5%;
      }
      .text-container h3 {
        margin: 20px 0px 10px 0px;
        color: #04bcff;
        font-size: 22px;
      }
      .text-container p {
        margin: 20px 0px 10px 0px;
        /* color: #04bcff; */
        font-size: 1rem;
        text-wrap: pretty;
      }

  }
  @media screen and (max-width: 388px) {


    .img-container {
      height: 200px;
      width: 168px;
      overflow: hidden;
      border-radius: 0px 50px 20px 20px;
      display: inline-block;
      }
      .a-box {
        display: inline-block;
        width: 215px;
        text-align: center;
        margin: 26% 0 0 0;
      }
      .text-container{
        line-height: 14px;
      }
      .text-container h3 {
        margin: 10px 0px 0px 0px;
        color: #04bcff;
        font-size: 18px;
      }
      .text-container p {
        margin: 10px 0px 0px 0px;
        /* color: #04bcff; */
        font-size: 0.7rem;
        text-wrap: pretty;
      }
      .body h3{
        font-size: 1rem;
      }

  }